body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
}

.box {
    /* height: 50px;
    width: 50px; */
    display: flex;
    flex:1;
}

#b5 {
    background-color: red;
}